/* VARIABLES
 * --------------------------
*/
$enable-flex: true;     // fully adopt flexbox layouts
$enable-shadows: true;  // enable shadows, set to false to turn off shadows

$assets-root: '../assets/';
$fonts-root: $assets-root + 'fonts/';

$breadcrumb-divider: quote(">");

$font-family-sans-serif:	Roboto, 'Segoe UI', 'Helvetica Neue', sans-serif;

$off-white:#fafafa;
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #3498db;
$indigo:  #686de0;
$purple:  #5f27cd;
$pink:    #e91e63;
$red:     #f44336;
$orange:  #ff9800;
$yellow:  #ffeb3b;
$green:   #4caf50;
$teal:    #009688;
$cyan:    #00bcd4;

$primary:       #487EB0;
$secondary:     #484AB0;
$success:       #4ABDAC;
$info:          $cyan;
$warning:       #FFC300;
$danger:        #FF5733;
$light:         $gray-100;
$dark:          $gray-800;

$theme-color-interval:      3%;

$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;

$body-bg:                   #eaeaea;
$body-color:                rgba(0,0,0,0.87);
$content-bg:								#ecf0f5;

$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

$screen-sm:                  768px;
$screen-sm-min:              $screen-sm;
$screen-tablet:              $screen-sm-min;
$screen-md:                  992px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  1200px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);

$sidebar-color: #dadfe1;
$sidebar-color-active: #fefefe;
$sidebar-width: 240px;
$sidebar-bg: #3B3F43;
$sidebar-sub-bg: #2F3236;
$topbar-height: 50px;
$mini-sidebar: 60px;

$ps-bar-container-hover-bg: lighten($secondary, 10%);
$ps-bar-hover-bg: darken($secondary, 10%);
$ps-rail-hover-bg: lighten($secondary, 15%);
$ps-scrollbar-y-rail-width: 12px;
$ps-scrollbar-y-hover-width: 8px;

// Icon
$icon-size: rem(2.400);

$baseline-grid:            8px;

$link-color:                $primary;
$link-decoration:           none;
$link-hover-color:          #3F6E9A;
$link-hover-decoration:     none;

$font-size:   								10px;
$font-size-base:              1.6rem;

$display1-weight:             400;
$display2-weight:             400;
$display3-weight:             400;
$display4-weight:             400;

$table-cell-padding:          0.6rem;

// Easing Curves
//--------------------------------------------

$swift-ease-out-duration: 0.4s;
$swift-ease-out-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
$swift-ease-out: all $swift-ease-out-duration $swift-ease-out-timing-function;

$swift-ease-in-duration: 0.3s;
$swift-ease-in-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
$swift-ease-in: all $swift-ease-in-duration $swift-ease-in-timing-function;

$swift-ease-in-out-duration: 0.5s;
$swift-ease-in-out-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
$swift-ease-in-out: all $swift-ease-in-out-duration $swift-ease-in-out-timing-function;

$swift-linear-duration: 0.08s;
$swift-linear-timing-function: linear;
$swift-linear: all $swift-linear-duration $swift-linear-timing-function;

$material-enter-duration: 0.3s;
$material-enter-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
$material-enter: all $material-enter-duration $material-enter-timing-function;

$material-leave-duration: 0.3s;
$material-leave-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
$material-leave: all $material-leave-duration $material-leave-timing-function;

$umbra: 0.2;
$penumbra: 0.14;
$ambient: 0.12;

$shadow-1dp: 0px 1px 3px 0px rgba(0, 0, 0, $umbra), 0px 1px 1px 0px rgba(0, 0, 0, $penumbra), 0px 2px 1px -1px rgba(0, 0, 0, $ambient);
$shadow-2dp: 0px 1px 5px 0px rgba(0, 0, 0, $umbra), 0px 2px 2px 0px rgba(0, 0, 0, $penumbra), 0px 3px 1px -2px rgba(0, 0, 0, $ambient);
$shadow-3dp: 0px 1px 8px 0px rgba(0, 0, 0, $umbra), 0px 3px 4px 0px rgba(0, 0, 0, $penumbra), 0px 3px 3px -2px rgba(0, 0, 0, $ambient);
$shadow-4dp: 0px 2px 4px -1px rgba(0, 0, 0, $umbra), 0px 4px 5px 0px rgba(0, 0, 0, $penumbra), 0px 1px 10px 0px rgba(0, 0, 0, $ambient);
$shadow-5dp: 0px 3px 5px -1px rgba(0, 0, 0, $umbra), 0px 5px 8px 0px rgba(0, 0, 0, $penumbra), 0px 1px 14px 0px rgba(0, 0, 0, $ambient);
$shadow-6dp: 0px 3px 5px -1px rgba(0, 0, 0, $umbra), 0px 6px 10px 0px rgba(0, 0, 0, $penumbra), 0px 1px 18px 0px rgba(0, 0, 0, $ambient);
$shadow-7dp: 0px 4px 5px -2px rgba(0, 0, 0, $umbra), 0px 7px 10px 1px rgba(0, 0, 0, $penumbra), 0px 2px 16px 1px rgba(0, 0, 0, $ambient);
$shadow-8dp: 0px 5px 5px -3px rgba(0, 0, 0, $umbra), 0px 8px 10px 1px rgba(0, 0, 0, $penumbra), 0px 3px 14px 2px rgba(0, 0, 0, $ambient);
$shadow-9dp: 0px 5px 6px -3px rgba(0, 0, 0, $umbra), 0px 9px 12px 1px rgba(0, 0, 0, $penumbra), 0px 3px 16px 2px rgba(0, 0, 0, $ambient);
$shadow-10dp: 0px 6px 6px -3px rgba(0, 0, 0, $umbra), 0px 10px 14px 1px rgba(0, 0, 0, $penumbra), 0px 4px 18px 3px rgba(0, 0, 0, $ambient);
$shadow-11dp: 0px 6px 7px -4px rgba(0, 0, 0, $umbra), 0px 11px 15px 1px rgba(0, 0, 0, $penumbra), 0px 4px 20px 3px rgba(0, 0, 0, $ambient);
$shadow-12dp: 0px 7px 8px -4px rgba(0, 0, 0, $umbra), 0px 12px 17px 2px rgba(0, 0, 0, $penumbra), 0px 5px 22px 4px rgba(0, 0, 0, $ambient);
$shadow-13dp: 0px 7px 8px -4px rgba(0, 0, 0, $umbra), 0px 13px 19px 2px rgba(0, 0, 0, $penumbra), 0px 5px 24px 4px rgba(0, 0, 0, $ambient);
$shadow-14dp: 0px 7px 9px -4px rgba(0, 0, 0, $umbra), 0px 14px 21px 2px rgba(0, 0, 0, $penumbra), 0px 5px 26px 4px rgba(0, 0, 0, $ambient);
$shadow-15dp: 0px 8px 9px -5px rgba(0, 0, 0, $umbra), 0px 15px 22px 2px rgba(0, 0, 0, $penumbra), 0px 6px 28px 5px rgba(0, 0, 0, $ambient);
$shadow-16dp: 0px 8px 10px -5px rgba(0, 0, 0, $umbra), 0px 16px 24px 2px rgba(0, 0, 0, $penumbra), 0px 6px 30px 5px rgba(0, 0, 0, $ambient);
$shadow-17dp: 0px 8px 11px -5px rgba(0, 0, 0, $umbra), 0px 17px 26px 2px rgba(0, 0, 0, $penumbra), 0px 6px 32px 5px rgba(0, 0, 0, $ambient);
$shadow-18dp: 0px 9px 11px -5px rgba(0, 0, 0, $umbra), 0px 18px 28px 2px rgba(0, 0, 0, $penumbra), 0px 7px 34px 6px rgba(0, 0, 0, $ambient);
$shadow-19dp: 0px 9px 12px -6px rgba(0, 0, 0, $umbra), 0px 19px 29px 2px rgba(0, 0, 0, $penumbra), 0px 7px 36px 6px rgba(0, 0, 0, $ambient);
$shadow-20dp: 0px 10px 13px -6px rgba(0, 0, 0, $umbra), 0px 20px 31px 3px rgba(0, 0, 0, $penumbra), 0px 8px 38px 7px rgba(0, 0, 0, $ambient);
$shadow-21dp: 0px 10px 13px -6px rgba(0, 0, 0, $umbra), 0px 21px 33px 3px rgba(0, 0, 0, $penumbra), 0px 8px 40px 7px rgba(0, 0, 0, $ambient);
$shadow-22dp: 0px 10px 14px -6px rgba(0, 0, 0, $umbra), 0px 22px 35px 3px rgba(0, 0, 0, $penumbra), 0px 8px 42px 7px rgba(0, 0, 0, $ambient);
$shadow-23dp: 0px 11px 14px -7px rgba(0, 0, 0, $umbra), 0px 23px 36px 3px rgba(0, 0, 0, $penumbra), 0px 9px 44px 8px rgba(0, 0, 0, $ambient);
$shadow-24dp: 0px 11px 15px -7px rgba(0, 0, 0, $umbra), 0px 24px 38px 3px rgba(0, 0, 0, $penumbra), 0px 9px 46px 8px rgba(0, 0, 0, $ambient);

// Z-indexes
//--------------------------------------------

$z-index-toast: 105;
$z-index-tooltip: 100;
$z-index-menu: 100;
$z-index-calendar-pane: 100;
$z-index-select: 90;
$z-index-dialog: 80;
$z-index-bottom-sheet: 70;
$z-index-scroll-mask: 50;
$z-index-scroll-mask-bar: 65;
$z-index-sidenav: 60;
$z-index-backdrop: 50;
$z-index-fab: 20;
$z-index-progress-circular: 2;

@import "buttons";
@import "input";
