.main-sidebar {
	position: fixed;
	width: $sidebar-width;
	height: 100%;
	top: $topbar-height;
	z-index: 20;
	background: $sidebar-bg;
	box-shadow: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	.sidebar {
		position: relative;
		height: calc(100vh - 50px);
		overflow: auto;
		width: $sidebar-width;
		z-index: 4;
		padding-bottom: 10px;
		> .sidebar-menu {
			> .treeview {
				> .treeview-link {
					display: flex;
					flex-direction: row;
					align-items: center;
					max-width: 100%;
					justify-content: space-between;
					transition: all 150ms ease-in;
				}
			}
		}
	}
}
.sidebar {
	.sidebar-menu {
		list-style: none;
		margin-top: 10px;
		display: block;
		.treeview {
			list-style: none;
			.treeview-link {
				margin: 10px 15px 0;
				border-radius: 3px;
				color: $sidebar-color;
				padding-left: 10px;
				padding-right: 10px;
				text-transform: capitalize;
				font-size: 1.5rem;
				padding: 10px 15px;
				i {
					width: 27px;
					height: 27px;
					font-size: 21px;
					line-height: 27px;
					display: inline-block;
					vertical-align: middle;
					color: rgba($white, 0.7);
					transform: rotate(0deg);
					transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
				}
			}
			&:not(.active) {
				.treeview-link:hover {
					background-color: rgba(0,0,0,0.2);
				}
			}
		}
	}
	> .sidebar-menu {
		> .treeview {
			&.active {
				> .treeview-link {
					background-color: $secondary;
					box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(tint($secondary, 50%), 0.12);
					color: $sidebar-color-active;
					.arrow {
						transform: rotate(-90deg);
					}
				}
			}
		}
	}
}
.treeview-menu {
	list-style: none;
	margin: 0;
	padding: 5px 0 0 15px;
	&.collapse.in {
		display: block;
	}
	li {
		margin-right: 15px;
		a {
			padding: 10px 20px 10px 20px;
			display: block;
			font-size: 1.5rem;
			white-space: nowrap;
			color: #798699;
			transition: all 150ms ease-in;
			overflow: hidden;
			text-overflow: ellipsis;
			&:hover {
				color: tint($secondary, 60%);
				background-color: rgba(0,0,0,0.1);
			}
		}
	}
}
.sidebar {
	ul {
		list-style: none;
		li {
			list-style: none;
		}
	}
}
.ps-on {
	.main-sidebar {
		height: 100%;
		max-height: 100%;
	}
}
@media (min-width: 768px) {
	.mini-sidebar {
		.main-sidebar {
			transform: translate(-$sidebar-width, 0);
		}
		.content-wrapper {
			margin-left: 0;
		}
	}
}
@media (max-width: 767px) {
	.main-sidebar {
		transform: translate(-$sidebar-width, 0);
	}
	.show-sidebar {
		.main-sidebar {
			transform: translate(0, 0);
		}
	}
}