@import "config/functions";
@import "config/variables";
@import "config/fonts";
@import "config/mixins";
@import "bs/core-bs";

@import "admin/admin-core";

.hide {
	display: none !important;
	visibility: hidden;
}
.wrapper {
	background-color: tint(#343a40, 20%);
}
// .main-header {
// 	background-color: #ff7043;
// }
// .main-sidebar {
// 	background-color: #90a4ae;
// }
// .content-wrapper {
// 	background-color: #03a9f4;
// }